@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);  

* {
    box-sizing: border-box;
     font-family: 'Pacifico', cursive;
}

body {
    font-family: 'Pacifico', cursive;
    padding: 10px;
    background-color: azure;
  
}



/* Header/Blog Title */
.header {
    padding: 120px;
    text-align: center;
    background: url('https://i.ibb.co/fS1TL8y/sound2.jpg');
    background-repeat: no-repeat;
  border-radius: 5px;
}

.header h1 {
    font-size: 50px;
    color: #ff00ff; 
    font-family: 'Pacifico', cursive;
}

h4 {
  color: #ff00ff;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h3 {
  color: #ff00ff;
   font-family: 'Pacifico', cursive;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #dda0dd;
    border-radius: 5px;
}
	
	
}
/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color:#dda0dd;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 5px;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: brown;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
    float: left;
    width: 75%;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
}

/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}



/* Add a card effect for articles */
.card {
    background-color: whitesmoke;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
     font-family: 'Pacifico', cursive;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */


footer {
  border-radius: 5px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
        width: 100%;
        padding: 0;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}

/* The grid: Four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 10px;
}

/* Style the images inside the grid */
.column img {
    opacity: 0.8; 
    cursor: pointer; 
}



.column img:hover {
    opacity: 1;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The expanding image container */
.container {
    position: relative;
    display: none;
}

/* Expanding image text */
#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

img {
  border-radius: 4px;
}


 .w3-container {
  background-color: whitesmoke;
   font-family: 'Pacifico', cursive;
}

.w3-row {
  background-color: whitesmoke;
}

.w3-quarter {
  background-color: whitesmoke;
}

.item-1, 
.item-2, 
.item-3 {
	position: absolute;
  display: block;
	top: 4em;
  color: brown;
  width: 60%;
  
  font-size: 1.5em;

	animation-duration: 20s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.item-1{
	animation-name: anim-1;
}

.item-2{
	animation-name: anim-2;
}

.item-3{
	animation-name: anim-3;
}

@keyframes anim-1 {
	0%, 8.3% { left: -100%; opacity: 0; }
  8.3%,25% { left: 25%; opacity: 1; }
  33.33%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-2 {
	0%, 33.33% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 25%; opacity: 1; }
  66.66%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-3 {
	0%, 66.66% { left: -100%; opacity: 0; }
  74.96%, 91.62% { left: 25%; opacity: 1; }
  100% { left: 110%; opacity: 0; }
}
